databases:
  - name: tabletmenu-db
    databaseName: tabletmenu
    user: tabletmenu_user

services:
  - type: web
    name: tabletmenu-frontend
    env: static
    rootDir: ./
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      # Reverse proxy for API calls
      - type: rewrite
        source: /api/:path*
        destination:
          service:
            name: tabletmenu-backend
            type: web
            path: /api/:path*
      # Catch-all for single-page application (SPA)
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        # We now make API calls to the same domain, so we can use a relative path
        value: "" 

  - type: web
    name: tabletmenu-backend
    env: node
    rootDir: ./server
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: tabletmenu-db
          property: connectionString
